body {
  font-family: 'Open Sans', sans-serif;
}

.dropdown {
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
  position: relative;
  display:inline-block;
}

.dropdown:hover {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 20%
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.item:hover {
  background-color: rgb(167, 247, 223);
  transform: scale(1.1);

}

.item {
  padding: 4%;
  margin: 0;
}

#info {
  width: 50%;
  margin: auto;
  text-align: center;

}

#gif {
  margin: auto;
}

#title {
  margin: auto;
}
.title{
  font-size: 5rem;
  padding-top: 8%;
}
.green {
  background-color: rgb(9, 217, 86);
}

.red {
  background-colour: rgb(217, 52 , 9);
}

.orange {
  background-color: rgb(233, 157, 27);
}

.main-style {
  display: flex;
  flex-direction: column;
}


.spinner {
    margin: 2% auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #db325b;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
